package appsrc

import (
	"blog/internal/web/runtime"
	"blog/internal/web/components"
	"blog/internal/web/seo"
)

templ Page(view runtime.AuthorPageView) {
	if view.IncludeStructuredData {
		@seo.JSONLDScript(seo.BuildAuthorJSONLD(view))
	}
	<div id="notes-content" hx-history-elt>
		@components.NotesFeed(view, view.EmptyStateMessage)
	</div>
}
