package appsrc

import (
	"blog/internal/web/appcore"
	"blog/internal/web/components"
)

templ Page(view appcore.NotesPageView) {
	@components.NotesFeed(view, "no micro-tales found for this filter.")
}
